.text-white 
{
    background-color: black;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    
}
.word-guess-game 
{
        border-style: dotted;
        border-color: white;
        padding: 20px;
}
.bottom-of-page 
{
        height: 195px;
}
.img-fluid 
{
        padding: 40px;
}

.footer 
{
        position: fixed;
        bottom: 0;
        width: 100%;
        text-align: center;
        border-top: white;
        background-color: black ;
        border-top-style: dotted;
        font-family: 'Press Start 2P', cursive;
        color: white;
        height: 40px;
}

    
    
   

.container 
{ 
    text-align: center;
    
}
h4 
{ 
    width: auto;
    padding: 5px;
     
}

#currentWord 
{
    letter-spacing: 10px;
}

#playAgain
{ 
    display: none;
}
#gameover
{ 
    display: none;
}
#youwin
{ 
    display: none;
}
